.hero{
  min-height: 60px;
  padding: 145px 0px;
  background-color: #87509c;
  text-align: center;

  &__about{
    font-weight: 700;
    font-size: 2.625rem;
    color: #fff;
    margin-bottom: 60px;

  }
}
