.icon{
  margin: auto;
  &-wrap{
    height: 134px;
    margin-bottom: 60px;
  }

}

.icon-flag{
  @include sprite($flag);
}
.icon-pencil{
  @include sprite($pencil);
}
.icon-gears{
  @include sprite($gears)
}
.icon-rocket{
  @include sprite($rocket)
}
