doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700" rel="stylesheet")
    title page
  body
    include sections/header
    include sections/title
    include sections/hero
    include sections/services
