nav.nav
  -var items = ['Home','About', 'Work', 'Blog', 'Contact']
    each item in items
      if item === 'Home'
        a.nav__link.nav__link--active(href="#")=item
      else
        a.nav__link(href="#")=item
