section.services
  .container
    +title('services we provide','We are working with both individuals and businesses from all over the globe to create awesome websites and applications.' )
    
    ul.services__list
      li.services__item
        .icon-wrap
          .icon.icon-flag
        h3.services__header branding
        p.services__description sunt dolor nisi dolor veniam export quid legam magna anim export cillum 
      li.services__item
        .icon-wrap
          .icon.icon-pencil
        h3.services__header design
        p.services__description sunt dolor nisi dolor veniam export quid legam magna anim export cillum
      li.services__item
        .icon-wrap
          .icon.icon-gears
        h3.services__header development
        p.services__description sunt dolor nisi dolor veniam export quid legam magna anim export cillum 
      li.services__item
        .icon-wrap
          .icon.icon-rocket
        h3.services__header rocket
        p.services__description sunt dolor nisi dolor veniam export quid legam magna anim export cillum              
              
  
